In [2]:
import overtime

In [3]:
overtime.init_db()

Data inserted successfully

In [4]:
overtime.add_records_from("requests_202306.csv")

Added 6 rows to database

,Status,Start Date,Full Name,Description,Multiplier,Pager,Primary,Pay Month
0,Approved,2023-04-05,Linus Tian,Holiday - Tomb Sweeping,3.0,0,1,2023-06
1,Approved,2023-05-01,Alex Zhong,Holiday - Labor Day,3.0,0,1,2023-06
2,Approved,2023-05-02,Linus Tian,Holiday - Labor Day,2.0,0,1,2023-06
3,Approved,2023-05-03,Leo Yang,Holiday - Labor Day,2.0,0,1,2023-06
4,Approved,2023-05-27,Alex Zhong,Pager - 2 days,1.0,1,0,2023-06
5,Approved,2023-05-27,Leo Yang,Pager - 2 days,1.0,1,1,2023-06

In [6]:
print(overtime.query("2023-06"))

Query Pay Month: 2023-06


>>>> Track records of Overtime and Pager requests:

Pay Month Start Date  Employee ID Employee Name  Multiplier  Pager  Daily Rate  Amount
2023-06   04/05      5745         Linus Tian    3.0         0      1255.09     3765.27
2023-06   05/01      4947         Alex Zhong    3.0         0      1897.22     5691.66
2023-06   05/02      5745         Linus Tian    2.0         0      1255.09     2510.18
2023-06   05/03      4831           Leo Yang    2.0         0      1321.64     2643.28
2023-06   05/27      4947         Alex Zhong    1.0         1      1000.00     1000.00
2023-06   05/27      4831           Leo Yang    1.0         1      1000.00     1000.00


>>>> Amount Summary by employee:

Employee    # of Records  Total Amount
Alex Zhong 2             6691.66
  Leo Yang 2             3643.28
Linus Tian 2             6275.45