In [1]:
import pandas as pd

my_posts = [
    {"title": "First post", "content": "My first post...", "id": 1},
    {"title": "Second post", "content": "My second post...", "id": 2}
]

In [8]:
df = pd.DataFrame(my_posts).set_index('id')
df

          title            content
id
1    First post   My first post...
2   Second post  My second post...

In [14]:
df.loc[2].to_dict()

{'title': 'Second post', 'content': 'My second post...'}

In [18]:
try:
    df.loc[100]
except Exception as e:
    print("id cannot be found")

id cannot be found

In [24]:
df.iloc[-1].to_dict()

{'title': 'Second post', 'content': 'My second post...'}